* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins';
    color: #000;
    font-size: 2rem;
}

h2 {
    font-size: 3.2rem;
}

.header-nova-pizza {
    width: 65rem;
    align-content: center;
}
